html {
  -webkit-text-size-adjust: 100%;/*文字のサイズを指定サイズに*/
}
header {
    background-color: black;
    position: fixed; /* ヘッダーを固定する */
    top: 0; /* 上部から配置の基準位置を決める */
    left: 0; /* 左から配置の基準位置を決める */
    width: 100%; /* ヘッダーの横幅を指定する */
    height: 60px; /* ヘッダーの高さを指定する */
    z-index: 100; /*ヘッダーを手前に配置*/
    font-family: "Bokor", serif;  /* グーグルフォント */
    text-align: center; /* テキストを中央寄せに配置 */
    font-size: 24px;  /* フォントサイズ */
  }

  /* ナビゲーションのスタイル */
nav ul {
    list-style-type: none; /* リストマーカーを非表示に */
    padding: 0;  /* 枠内の余白 */
　　margin: 0 auto;
  }

nav ul li {
    display: inline; /* リストアイテムを横並びに配置 */
	margin-right: 5px;
	margin-left: 5px;
  }

  /* リンクのスタイル */
nav ul li a {
    text-decoration: none; /* リンクの下線を非表示に */
    color: antiquewhite; /* リンクのカラーを設定 */
  }

a {
    text-decoration: none; /* リンクの下線を非表示に */
    color: antiquewhite;  /* リンクのカラーを設定 */
}

  /* 訪問後の文字色 */
a:visited {
    color: antiquewhite;
}

  /*　グーグルフォント */
.font-txt {
      text-align: center;
      font-family: "Bokor", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 56px;
      color: antiquewhite;
}

.mfont-txt {
  text-align: center;
  font-family: "Bokor", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: antiquewhite;
}


/*ボタン*/
a.btn {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: underline;
	width: 120px;
	margin: auto;
	padding: 1rem 1rem;
	font-weight: bold;
	border: 2px solid gray;
	background: black;
	color: antiquewhite;
	transition: 0.5s;
}
a.btn:hover {
	color: gray;
	background: #fff;
}


.sidebar {
  position: fixed;
  width: 20%;
 /* height: 100%;*/
 height: 90vh;
 overflow-y: scroll;
 /*スクロールバー非表示（IE・Edge）*/
 -ms-overflow-style: none;
 /*スクロールバー非表示（Firefox）*/
 scrollbar-width: none;
  color: antiquewhite;
  box-sizing: border-box;
}
/*スクロールバー非表示（Chrome・Safari）*/
.sidebar::-webkit-scrollbar{
  display:none;
}

lefter{
  text-align: left;
  font-family: "Bokor", serif;
    font-weight: 400;
    font-style: normal;
    color: antiquewhite;
}

.footer {
  position: fixed;
  width: 90vh;
 height: 40%;
 overflow-y: scroll;
 /*スクロールバー非表示（IE・Edge）*/
 -ms-overflow-style: none;
 /*スクロールバー非表示（Firefox）*/
 scrollbar-width: none;
  color: antiquewhite;
  box-sizing: border-box;
	text-align: left;
}
/*スクロールバー非表示（Chrome・Safari）*/
.footer::-webkit-scrollbar{
  display:none;
}

.inner {
  width: 97%;
  margin: 0 auto;
}

/*親要素*/
.text-center-text-left-wrap {
  text-align: center;
  color: antiquewhite;
}

/*子要素(リスト部分)*/
.text-center-text-left__child {
  text-align: left;
  color: antiquewhite;
  display: inline-block;
  list-style: none;
  padding: 0;
}

  /* 背景イメージ */
body {
    background-image: url("https://github.com/banzorc/banzorc.github.io/blob/main/image0.webp?raw=true");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

  /* 動画中央寄せ */
iframe {
    display: block;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    }
